@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(250, 250, 250);
}

header {
    background-color: rgb(227, 227, 227);
    margin-bottom: 10px;
    position: fixed; 
    width: 100%;
}

h1 {
  font-size: 4em;
  color:rgb(203, 55, 55);
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-bottom: 10px;
}

.nav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;        
    background-color:rgb(202, 202, 202)
    overflow-x: hidden; 
    padding-top: 80px;
    padding-left: 10px;
    font-family: 'Lobster', cursive;
}

.nav a {
    padding: 10px 5px 1.2px 10px;
    text-decoration: none;
    font-size: 1em;
    color: rgb(203, 55, 55);
    display: block;
    margin: 30px;
  }

.nav a:hover {
    color: black;
  }

ul, li {
    list-style-type: none;
}


section {
    margin-left: 180px;
    padding-top: 15px;
    padding-right: 15px;
}

.prvi-naslov {
    padding-top: 75px; 
}

h2, h3 {
margin-right: 20px;
margin-bottom: 20px;
margin-top: 20px;
color: rgb(238, 111, 87);
font-family: 'Lobster', cursive;
border-bottom: 4px dotted rgb(238, 111, 87);
}

p {
    margin: 10px 20px 15px auto;
    color: rgb(53, 53, 53);
}
span {
    background-color:rgba(238, 112, 87, 0.274);
}

p span {
    text-align: center;
}

footer {
    background-color: rgb(203, 55, 55);
    padding: 10px 10px 10px 160px;
    margin-top: 25px;
}

.footer-text {
    text-align: end;
    color: white;
    font-family: 'Lobster', cursive;
}